@model MyTask
@{
    ViewData["Title"] = "Create";
}

<h1>Add Tasks</h1>

<form method="post" asp-action="Create">

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" name="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ClientId" class="control-label">Client</label>
        <select asp-for="ClientId" asp-items="ViewBag.Clients" class="form-control"></select>
    </div>

    <select asp-for="CategoryId" name="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
        <option disabled selected value="">-- Select CategoryId --</option>

    </select>

    <div class="mb-3">
        <label asp-for="DueDate" class="form-label"></label>
        <input asp-for="DueDate" type="datetime-local" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PriorityId" class="form-label"></label>
        <select asp-for="PriorityId" class="form-select" asp-items="@ViewBag.Priorities">
            <option value="">Select Priority</option>
          
        </select>
        <span asp-validation-for="PriorityId" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" name="Description" class="form-control"></textarea>
       
    </div>

    <div class="form-check mb-3">
        <input asp-for="IsCompleted" class="form-check-input" type="checkbox" />
        <label asp-for="IsCompleted" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-outline-primary">Save</button>
    <a asp-action="Index" class="btn btn-dark">Back</a>

</form>